.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 991px) {
    .menu {
        margin-right: 0;
    }
    .menu__link:hover {
        background-color: transparent;
    }
}

@media (max-width: 640px) {
    .header__inner {
        display: block;
        text-align: center;
    }
    .menu {
        margin-top: 50px;
    }
    .menu__list {
        justify-content: space-evenly;
    }
    .menu__item + .menu__item {
        padding-left: 0;
    }
    .menu__link {
        padding: 25px 20px;
    }
}
 
@media (max-width: 460px) {
    .menu__list {
        justify-content: space-between;
    }
    .menu__link {
        padding: 25px 0;
    }
}

@media (max-width: 340px) {
    .menu {
        margin-top: 30px;
    }
    .menu__link {
        font-size: 12px;
    }
}