.menu {
    margin-right: 70px;
}

.menu__list {
    display: flex;
}

.menu__item + .menu__item {
    padding-left: 10px;
}

.menu__link {
    text-transform: uppercase;
    padding: 42px 20px;
    transition: all .3s;
}

.menu__link:hover {
    background-color: #131313;
    color: #fff;
}