@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

/* html {
    scroll-behavior: smooth;
} */

ul {
    margin: 0;
    list-style: none;
}

li {
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #131313;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}